/ {
    behaviors {
        smm: shift_mod_morph {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <2>;
            bindings = <&kp>, <&kp>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        csmm: crtl_shift_mod_morph {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <2>;
            bindings = <&kp>, <&smm>;
            mods = <(MOD_LCTL|MOD_RCTL)>;
        };

        alt1: alt_key1 {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping_term_ms = <200>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&smm>;
        };
        alt2: alt_key2 {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping_term_ms = <200>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&csmm>;
        };

        // sensors
        s_c: scroll_ctrl {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_UP>, <&msc SCRL_DOWN>;
             tap-ms = <20>;
        };
    };
};